.layout-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 200px;
    height: 112px;
    background-color: tomato;
    border: 2px solid #555555;
    margin-bottom: 20px;
    color: white;
}

.hero {
    flex-basis: 100%;
    background: #505050 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
    background-blend-mode: luminosity;
    text-align: center;
    line-height: 350px;
    font-size: 3em;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Layout Patterns */

.flex-layout-1 {
    display: flex;
}

.grid-layout-1 {

}

@media only screen and (min-width: 1000px) {
    .grid-layout-1 {
        display:grid;   
        grid-template-columns: repeat(3, 1fr) 2fr;
        grid-gap: 10px;
    }
    
}

.child {
    height: 100px;
    background-color: tomato;
    border: 1px solid black;
}

.favorite {
    flex-grow: 2;
}


