body {
    background-color: AliceBlue;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #FF0000;
    font-size: 2rem;
}

h1 {
    font-family: 'Oxanium', cursive;
    background-color: red;
    margin: 0;
    text-align: center;
    height: 100px;
    padding-top: 38px;
}
		  
a.active {
    color: black;
}

img.active {
    border: 10px solid tomato;
}

#external {
    border: 2px solid red;
}

.nav {
	text-align: center;
}

ul {
	display: inline-block;
}

li {
	float: left;
	list-style: none;
}

.nav {
	background-color: #0b1b2d;
}

.nav a {
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	background-color: cadetblue;
	color: black;
	border-radius: 5px;

}

.nav a:hover {
	background-color: white;
	border: 1px solid cadetblue;
}

#content {
	margin: 10px;
	padding: 10px;
}













