/* 
Where we are going to define our layout.
*/

/* Parent container for a flex layout. */
.layout-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 200px;
    height: 112.50px;
    background-color: tomato;
    border: 2px solid #555555;
    margin-bottom: 20px;
}

.hero {
    flex-basis: 100%;
    background: #ff0000 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 350px;
    background-blend-mode: luminosity;
    color: white;
}

.callout {
    margin: 20px;
}